.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding: 2rem;
    background-color: var(--color-primary-light);
}

.form-container  h3 {
    font-family: 'Montserrat';
    color: var(--color-white);
    letter-spacing: 2px;
    margin-bottom: 0.6rem;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
}

.form-container form input {
    padding: 0.2rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color-grey);
}

.form-container .btn-create {
    margin-left: 0.4rem;
}   

@media (max-width: 310px) {
    .form-container form {
        gap: 0.5rem;
    }

    .form-container .btn-create {
        margin-left: 0;
    }
}